[submodule "Libraries/OpenFrame"]
	path = Libraries/OpenFrame
	url = git@github-counter:counter-ltd/openframe.git
[submodule "Extensions"]
	path = Extensions
	url = git@github-counter:counter-ltd/arcadia-haven.git
[submodule "Libraries/OpenTween-Rust"]
	path = Libraries/OpenTween-Rust
	url = git@github-counter:counter-ltd/opentween-rust.git
